// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 8px;
    -webkit-border-horizontal-spacing: 8px;
    -webkit-border-vertical-spacing: 8px;
    border-color: grey;
 }

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 16.185px;
    margin-bottom: 16.185px;
}

h3 {
    color: red;
    margin-bottom: 10px;
}


li {
    color: red;
    margin-bottom: 10px;
}

a {
    margin: 5px;
}

th {
    font-size: 13px;
}

td {
    margin-right: 5px;
}

.label {
    font-size: 13px;
}

.field {
    margin-bottom: 10px;
}