// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.TitleForm {
  margin-bottom: 10px;
}

.BodyForm {
    margin-bottom: 10px;
}

.UpdateBook {
  margin-bottom: 10px;
}

.Show\&Back {
    margin-left: -5px;
    margin-bottom: 10px;
}

